@font-face {
    font-family: "Press Start 2P Regular";
    src: url("../fonts/PressStart2P-Regular.ttf");
}

.pixel-font {
    -fx-font-family: "Press Start 2P Regular";
    -fx-font-size: 17px;
}

.pixel-font2 {
    -fx-font-family: "Press Start 2P Regular";
    -fx-font-size: 12px;
}

.pixel-font3 {
    -fx-font-family: "Press Start 2P Regular";
    -fx-font-size: 14px;
}